/.env
/Links.md
pretrained_models/text_classification/text_model.keras
src/data_processing/__pycache__/__init__.cpython-312.pyc
src/data_processing/__pycache__/encoder.cpython-312.pyc
src/data_processing/__pycache__/encoding.cpython-312.pyc
src/data_processing/__pycache__/loader.cpython-312.pyc
src/data_processing/__pycache__/preprocessing.cpython-312.pyc
src/data_processing/__pycache__/text_dataset.cpython-312.pyc
src/__pycache__/__init__.cpython-312.pyc
src/__pycache__/const.cpython-312.pyc
src/models/__pycache__/abstract.cpython-312.pyc
src/models/__pycache__/detoxify.cpython-312.pyc
src/models/__pycache__/hate_model.cpython-312.pyc
src/models/__pycache__/rubert.cpython-312.pyc
src/utils/__pycache__/environment.cpython-312.pyc
src/utils/__pycache__/exceptions.cpython-312.pyc
src/utils/__pycache__/hash.cpython-312.pyc
src/utils/__pycache__/hashing.cpython-312.pyc
src/api/__pycache__/__init__.cpython-310.pyc
src/api/__pycache__/base_client.cpython-310.pyc
src/api/__pycache__/chat_client.cpython-310.pyc
src/api/__pycache__/exceptions.cpython-310.pyc
src/api/__pycache__/vk_api.cpython-310.pyc
src/api/__pycache__/wall_client.cpython-310.pyc
src/data_processing/__pycache__/__init__.cpython-310.pyc
src/data_processing/__pycache__/encoding.cpython-310.pyc
src/data_processing/__pycache__/loader.cpython-310.pyc
src/data_processing/__pycache__/preprocessing.cpython-310.pyc
src/data_processing/__pycache__/text_dataset.cpython-310.pyc
src/utils/__pycache__/enviroment_test.cpython-310-pytest-8.3.5.pyc
src/utils/__pycache__/environment.cpython-310.pyc
src/models/__pycache__/abstract.cpython-310.pyc
src/models/__pycache__/detoxify.cpython-310.pyc
src/models/__pycache__/hate_model.cpython-310.pyc
src/models/__pycache__/rubert.cpython-310.pyc
src/__pycache__/__init__.cpython-310.pyc
src/vk_mod/__pycache__/__init__.cpython-310.pyc
src/vk_mod/__pycache__/const.cpython-310.pyc
src/vk_mod/api/__pycache__/__init__.cpython-310.pyc
src/vk_mod/api/__pycache__/base_client.cpython-310.pyc
src/vk_mod/api/__pycache__/chat_client.cpython-310.pyc
src/vk_mod/api/__pycache__/exceptions.cpython-310.pyc
src/vk_mod/api/__pycache__/vk_api.cpython-310.pyc
src/vk_mod/api/__pycache__/wall_client.cpython-310.pyc
src/vk_mod/data_processing/__pycache__/__init__.cpython-310.pyc
src/vk_mod/data_processing/__pycache__/encoding.cpython-310.pyc
src/vk_mod/data_processing/__pycache__/loader.cpython-310.pyc
src/vk_mod/data_processing/__pycache__/preprocessing.cpython-310.pyc
src/vk_mod/data_processing/__pycache__/text_dataset.cpython-310.pyc
src/vk_mod/models/__pycache__/abstract.cpython-310.pyc
src/vk_mod/models/__pycache__/abstract.cpython-312.pyc
src/vk_mod/models/__pycache__/detoxify.cpython-310.pyc
src/vk_mod/models/__pycache__/detoxify.cpython-312.pyc
src/vk_mod/models/__pycache__/hate_model.cpython-310.pyc
src/vk_mod/models/__pycache__/hate_model.cpython-312.pyc
src/vk_mod/models/__pycache__/rubert.cpython-310.pyc
src/vk_mod/models/__pycache__/rubert.cpython-312.pyc
src/vk_mod/utils/__pycache__/enviroment_test.cpython-310-pytest-8.3.5.pyc
src/vk_mod/utils/__pycache__/environment.cpython-310.pyc
src/vk_mod/utils/__pycache__/exceptions.cpython-310.pyc
src/vk_mod/utils/__pycache__/hashing.cpython-310.pyc
vk_mod.egg-info/dependency_links.txt
vk_mod.egg-info/PKG-INFO
vk_mod.egg-info/SOURCES.txt
vk_mod.egg-info/top_level.txt
